<div>
    <section class="background" id="firtsPage">
        <img src="assets/img/backgroundpage.png" alt="banner" class="background-image-div">
        <div class="row content">
            <div class="col-md-4 col-sm-4 col-4">
                <h1 class="titleFirts">Haz crecer tu Negocio</h1>
                <h3 class="titleFirsth3">& Aumenta tus Ganancias</h3>
                <p class="descriptionfirts">Consigue muchos mas clientes con tu propia <span
                        style="font-weight: bold;">Pagina Web</span>.
                    <br>
                    Puedes empezar a crear una imagen mas profesional <br> <span style="font-weight: bold;">Facil y
                        Rapido</span> con Nosotros.
                </p>

                <div class="d-flex gap-2">
                    <a href="#secondPage" class="buttonHome blue-button">Saber más</a>
                    <button class="buttonHome white-button">Contactar</button>
                </div>
            </div>
            <div class="col-md-3-sm-3 col-3">
                <div class="logo-container">
                    <img src="assets/img/imgbanner.png" alt="banner" class="logo">
                </div>
            </div>
        </div>

    </section>


    <section id="secondPage">
        <mat-stepper style="background-color: white;" #stepper>
            <mat-step>
                <ng-template matStepLabel>¿Un sitio WEB?</ng-template>
                <div class="steps" id="firtsStep">
                    <img src="assets/img/backgroundpage2.png" alt="banner" class="background-image-div">
                    <div class="container">
                        <div class="row content secondContainer">
                            <div class="col-md-5" id="imgSecond">
                                <div class="imgSecondContent">
                                    <img src="assets/img/fallout1.png" alt="banner" class="logo">
                                </div>
                            </div>
                            <div class="col-md-6 boxTextSecond" id="textDescription">
                                <span style="color: #e6413d; font-weight: bold;">
                                    ¿Por que tener un sitio Web?
                                </span>
                                <h1>
                                    Tu negocio puede crecer y te explicamos como
                                </h1>
                                <div class="boxDescriptionSecond">
                                    <p>
                                        Con <span style="font-weight: bold;">FacilWEBgirardot</span> puedes hacer
                                        crecer tu red de
                                        clientes dando a tu negocio una imagen fresca y profesional gracias a tu
                                        propio sitio WEB.
                                    </p>
                                </div>
                                <div class="boxDescriptionsIcons gap-2" id="boxdescription1">
                                    <div class="containerIMG">
                                        <div class="boxIconsContainers boxIMG1">
                                            <i class="material-icons icono-centro">computer</i>
                                        </div>
                                    </div>
                                    <div>
                                        <h3>Multiples Dispositivos</h3>
                                        <p>Tu Pagina Web podra verse en celulares y computadoras de todo el mundo
                                            maximizando el alcance de tu marca o negocio.</p>
                                    </div>
                                </div>
                                <div class="boxDescriptionsIcons gap-2" id="boxdescription2">
                                    <div class="containerIMG">
                                        <div class="boxIconsContainers boxIMG2">
                                            <i class="material-icons icono-centro">mail</i>
                                        </div>
                                    </div>
                                    <div>
                                        <h3>Aumenta el Contacto</h3>
                                        <p>Desde correo electronico, links a redes sociales, chats automatizados de
                                            <span>whatsapp<img class="whatsappIMG" src="/assets/img/whastapp_img.png"
                                                    alt=""></span> no dejes de
                                            vender
                                            sin importar la hora, que tus clientes puedan saber de tú negocio y
                                            contactarte cuando ellos lo necesiten.
                                        </p>
                                    </div>
                                </div>
                                <div class="boxDescriptionsIcons gap-2" id="boxdescription3">
                                    <div class="containerIMG">
                                        <div class="boxIconsContainers boxIMG1">
                                            <i class="material-icons icono-centro">search</i>
                                        </div>
                                    </div>
                                    <div>
                                        <h3>Que te Encuentren</h3>
                                        <p>Con nuestros servicios Tu Pagina Web podra aparecer en los buscadores mas
                                            famosos como <span style="font-weight: bold;">GOOGLE</span> facilitando
                                            que tus clientes
                                            puedan encontrar tu negocio.
                                        </p>
                                    </div>
                                </div>
                                <div class="boxDescriptionsIcons gap-2" id="boxdescription4">
                                    <div class="containerIMG">
                                        <div class="boxIconsContainers boxIMG3">
                                            <i class="material-icons icono-centro">hub</i>
                                        </div>
                                    </div>
                                    <div>
                                        <h3>Muestra como Trabajas</h3>
                                        <p>Puedes agregar el menú de un restaurante, fotos de tús productos,
                                            describir
                                            servicios a detalle, subir videos de trabajos realizados, el limite lo
                                            pones tú.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 containerButtonNext">
                                <button mat-button matStepperNext>
                                    <i class="material-icons">arrow_forward_ios</i>
                                </button>                                
                            </div>
                        </div>
                    </div>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>¿Como se ve?</ng-template>
                 <div class="steps" id="secondStep">
                    <img src="assets/img/backgroundpage3.png" alt="banner" class="background-image-div">
                    <div class="container">
                        <div class="row content thirdContainer">
                            <div class="col-md-1 containerButtonNext">                        
                                <button mat-button matStepperPrevious>
                                    <i class="material-icons">arrow_back_ios</i>
                                </button>
                            </div>
                            <div class="col-md-10">
                                <div class="row containerCard">
                                    <div class="container">
                                        <div class="card__container">
                                           <article class="card__article">
                                              <img src="assets/img/landscape-1.png" alt="image" class="card__img">
                               
                                              <div class="card__data">
                                                 <span class="card__description">Restaurantes, Pastelerias y Mas!</span>
                                                 <h2 class="card__title">Restaurantes</h2>
                                                 <a href="#" class="card__button">Ver Ejemplo</a>
                                              </div>
                                           </article>
                               
                                           <article class="card__article">
                                              <img src="assets/img/landscape-2.png" alt="image" class="card__img">
                               
                                              <div class="card__data">
                                                 <span class="card__description">Ropa, Calzado y Mas!</span>
                                                 <h2 class="card__title">Tiendas</h2>
                                                 <a href="#" class="card__button">Ver Ejemplo</a>
                                              </div>
                                           </article>
                               
                                           <article class="card__article">
                                              <img src="assets/img/landscape-3.png" alt="image" class="card__img">
                               
                                              <div class="card__data">
                                                 <span class="card__description">Spas, Uñas y Mas!</span>
                                                 <h2 class="card__title">Servicios</h2>
                                                 <a href="#" class="card__button">Ver Ejemplo</a>
                                              </div>
                                           </article>
                                           <article class="card__article">
                                            <img src="assets/img/landscape-4.png" alt="image" class="card__img">                             
                                            <div class="card__data">
                                               <span class="card__description">Musica, Pintura y Mas!</span>
                                               <h2 class="card__title">Artistas</h2>
                                               <a href="#" class="card__button">Ver Ejemplo</a>
                                            </div>
                                            </article>
                                            <article class="card__article">
                                                <img src="assets/img/landscape-5.png" alt="image" class="card__img">                             
                                                <div class="card__data">
                                                   <span class="card__description">Noticias, Deportes y Mas!</span>
                                                   <h2 class="card__title">Divulgacion</h2>
                                                   <a href="#" class="card__button">Ver Ejemplo</a>
                                                </div>
                                                </article>
                                                <article class="card__article">
                                                    <img src="assets/img/landscape-6.png" alt="image" class="card__img">                             
                                                    <div class="card__data">
                                                       <span class="card__description">Independientes, Innovadores y Mas!</span>
                                                       <h2 class="card__title">Emprendimientos</h2>
                                                       <a href="#" class="card__button">Ver Ejemplo</a>
                                                    </div>
                                                    </article>
                                        </div>
                                     </div>
                                </div>
                            </div>
                            <div class="col-md-1 containerButtonNext">
                                <button mat-button matStepperNext>
                                    <i class="material-icons">arrow_forward_ios</i>
                                </button>                                
                            </div>
                        </div>
                    </div>
                </div>       
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>¿Quiénes somos?</ng-template>
                <div class="steps" id="thirdStep">
                    <img src="assets/img/backgroundpage3.png" alt="banner" class="background-image-div">
                    <div class="container">
                        <div class="row content secondContainer">
                            <div class="col-md-1 containerButtonNext">                        
                                <button mat-button matStepperPrevious>
                                    <i class="material-icons">arrow_back_ios</i>
                                </button>
                            </div>
                            <div class="col-md-4" id="imgSecond">
                                <div class="imgSecondContent">
                                    <img src="assets/img/fallout1.png" alt="banner" class="logo">
                                </div>
                            </div>
                            <div class="col-md-6 boxTextSecond" id="textDescription">
                                <span style="color: #e6413d; font-weight: bold;">
                                    ¿Por que tener un sitio Web?
                                </span>
                                <h1>
                                    Tu negocio puede crecer y te explicamos como
                                </h1>
                                <div class="boxDescriptionSecond">
                                    <p>
                                        Con <span style="font-weight: bold;">FacilWEBgirardot</span> puedes hacer
                                        crecer tu red de
                                        clientes dando a tu negocio una imagen fresca y profesional gracias a tu
                                        propio sitio WEB.
                                    </p>
                                </div>
                                <div class="boxDescriptionsIcons gap-2" id="boxdescription1">
                                    <div class="containerIMG">
                                        <div class="boxIconsContainers boxIMG1">
                                            <i class="material-icons icono-centro">computer</i>
                                        </div>
                                    </div>
                                    <div>
                                        <h3>Multiples Dispositivos</h3>
                                        <p>Tu Pagina Web podra verse en celulares y computadoras de todo el mundo
                                            maximizando el alcance de tu marca o negocio.</p>
                                    </div>
                                </div>
                                <div class="boxDescriptionsIcons gap-2" id="boxdescription2">
                                    <div class="containerIMG">
                                        <div class="boxIconsContainers boxIMG2">
                                            <i class="material-icons icono-centro">mail</i>
                                        </div>
                                    </div>
                                    <div>
                                        <h3>Aumenta el Contacto</h3>
                                        <p>Desde correo electronico, links a redes sociales, chats automatizados de
                                            <span>whatsapp<img class="whatsappIMG" src="/assets/img/whastapp_img.png"
                                                    alt=""></span> no dejes de
                                            vender
                                            sin importar la hora, que tus clientes puedan saber de tú negocio y
                                            contactarte cuando ellos lo necesiten.
                                        </p>
                                    </div>
                                </div>
                                <div class="boxDescriptionsIcons gap-2" id="boxdescription3">
                                    <div class="containerIMG">
                                        <div class="boxIconsContainers boxIMG1">
                                            <i class="material-icons icono-centro">search</i>
                                        </div>
                                    </div>
                                    <div>
                                        <h3>Que te Encuentren</h3>
                                        <p>Con nuestros servicios Tu Pagina Web podra aparecer en los buscadores mas
                                            famosos como <span style="font-weight: bold;">GOOGLE</span> facilitando
                                            que tus clientes
                                            puedan encontrar tu negocio.
                                        </p>
                                    </div>
                                </div>
                                <div class="boxDescriptionsIcons gap-2" id="boxdescription4">
                                    <div class="containerIMG">
                                        <div class="boxIconsContainers boxIMG3">
                                            <i class="material-icons icono-centro">hub</i>
                                        </div>
                                    </div>
                                    <div>
                                        <h3>Muestra como Trabajas</h3>
                                        <p>Puedes agregar el menú de un restaurante, fotos de tús productos,
                                            describir
                                            servicios a detalle, subir videos de trabajos realizados, el limite lo
                                            pones tú.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 containerButtonNext">
                                <button mat-button (click)="stepper.reset()">
                                    <i class="material-icons">undo</i>
                                </button>
                                                                
                            </div>
                        </div>
                    </div>
                </div> 
            </mat-step>
        </mat-stepper>
    </section>

</div>